---
import TweetCard from "../index/tweetcard.astro"
import { tweets } from "../../data/tweets"
---

<aside>
    {
        tweets.map(tweet => (
            <TweetCard
                name={tweet.name}
                user={tweet.username}
                time={tweet.time}
                avatar={tweet.avatar}
            >
                <p class="pb-2">{tweet.tweet}</p>
            </TweetCard>
        ))
    }
</aside>