---
import TweetCard from "../index/tweetcard.astro"

const tweets = [
    {
        name: 'Elon Musk',
        username: '@elon',
        tweet: 'Saludos a todos!, Saludos',
        time: '1h',
        avatar: '/elon.jpg'
    },
]
---

<aside>
    {
        tweets.map(tweet => (
            <TweetCard
                name={tweet.name}
                user={tweet.username}
                time={tweet.time}
                avatar={tweet.avatar}
            >
                <p class="pb-2">{tweet.tweet}</p>
            </TweetCard>
        ))
    }
</aside>